@import './common.scss';

$text-color:#bdbdbd;

:root {
    --mc-icon-color: #bdbdbd;
    --mc-current-bg: rgba(209, 56, 102, 0.493);
    --mc-menu-active: #ff414b;
    --mc-home-bg: #f5f6f8;
    --mc-bg-pre: #fff;
    --mc-text-color: #bdbdbd;
    --mc-menu-text-color: #bdbdbd;
}