@import './common.scss';

$text-color:#bdbdbd;
:root {
    --mc-icon-color: #bdbdbd;
    --mc-current-bg: rgba(209, 56, 102, 0.493);
    --mc-menu-active: #ff414b;
    --mc-home-bg: rgba(245, 246, 248, 0.8);
    --mc-bg-pre: #fff;
    --mc-box-shadow: rgb(225, 222, 222);
    --mc-text-color: #bdbdbd;
    --mc-white: #fff;
    --mc-menu-text-color: #bdbdbd;
}