.Header {
    margin-bottom: 30px;

    img {
        width: 80px;
        margin-bottom: 10px;
        cursor: pointer;
    }
}

.titleWrapHd {
    padding-left: 10px;
}
.title2{
    font-size: 20px;
    font-weight: 600;
}